[2020-09-07 13:14] bouwew opened #23 "[BUG] aiohttp deflate error"
**Describe the bug**
Error when adding the integration for the Stretch.

**Evidence**
[code]

**Home Assistant Core (please complete the following information):**
 - Version: 0.114.3
 - Deployment: hassio
 - Installed plugwise version: plugwise-beta pre-v0.7.0a0 code
 - Installed through: HACS

**Smile (please complete the following information):**
 - Sort of Smile: Stretch v2
 - Firmware: 2.3.12

[2020-10-30 15:11] CoMPaTech opened #25 "[IMPROVE] Print statements"
**Describe the improvement**
Rewrite print-statements to _LOGGER statements

From findings during #24

[2020-10-30 15:13] CoMPaTech opened #26 "[IMPROVE] Logging statements"
**Describe the improvement**
Todo:

 - Write Logging style specific (decide on ending with dots etc.)?

Verify _LOGGER statements validity:

 - Do we need them?
 - When we need them, can we make them smarter (call a function, to DRY (dont repeat yourself))?
 - If they are valid, rewrite to `f"Some {var1} into {var2}"` from `"Some %s into %s."`

From findings during #24

[2020-10-30 15:16] CoMPaTech opened #27 "[IMPROVE] If statements for booleans/trilean state"
**Describe the improvement**

Evaluate rewriting `if something_somewhere is True:` to `if something`. This goes for `None`, `False` and `True` (hence trilean). It won't be possible everywhere (we have a specific case in `plugwise-beta` where we needed it like that, but most of them should be rewritable in `python-plugwise`.

From findings during #24

[2020-10-30 15:22] CoMPaTech opened #28 "[IMPROVE] Solve complexity"
Describe the improvement

Linter checks bring to light more complexity that we should solve. They are marked as `TODO` in #24 and onwards and disabled for linting using `# noqa: 901`! Some have a complexity of over 40.

While it's not a necessity it would be best to at least have a look at why their complexity is marked high. For reference see https://www.flake8rules.com/rules/C901.html

From find

[2020-10-30 16:01] bouwew commented on #27
Let's be careful with shortening `if something is None:` and `if something is not None:`.
I remember from the early days that in many cases we have to use/leave it at `if something is not None:`

[2020-10-30 16:02] CoMPaTech commented on #27
Yup, hence the reference to our earlier experience :)

[2020-10-30 18:00] CoMPaTech commented on #25
@brefra can you have a look at the `if self.print_progress:` then `print` statements in `stick.py`? First glance as @bouwew mentioned they might just become _LOGGER.debug statements, having said that - probably just using _LOGGER.debug might also skip all the if-statement.

[2020-10-31 12:39] brefra commented on #25
All print statements are leftovers from the early days for use the lib standalone directly from cli. Not really an usecase anymore.
I'll prepare a PR to get them removed.

[2020-11-01 14:29] bouwew commented on #27
Fixed in #30

[2020-11-01 14:35] #27 closed

[2020-11-01 18:37] #25 closed

[2020-11-03 20:08] brefra opened #39 "Power production for USB Circle plugs"
Make additional today and yesterday sensor values for power production.

Possible solution might be in the "deliver energy" option existing in the plugwise source software.

Plugwise legacy USB-stick together with Circle/Stealth/etc.
[Original request](https://community.home-assistant.io/t/plugwise-core-and-custom-component/236250/13)

[2020-11-08 08:30] CoMPaTech commented on #26
If we do (still) want this (to have the same way of formatting strings), we'll have to [adjust the formatter](https://docs.python.org/3/library/logging.html#logging.Formatter)
logging continues to use `%` but you can switch it to` {` [even though it will itself use % again as its optimised for it](https://docs.python.org/3/howto/logging-cookbook.html#formatting-styles)

[2021-01-21 21:02] libre-man opened #57 "[FEATURE] Make it possible to update presets"
**Is your feature request related to a problem? Please describe.**
I really like plugwise thermostat I have, but I really dislike the web interface it has, so when I'm always a bit frustrated when I have to use it to change the temperature value of a preset I have.

**Describe the solution you'd like**
I would really like to be able to update presets using this library (and hopefully in the future

[2021-01-21 21:07] CoMPaTech commented on #57
Thanks for your feature request and kinds words, do note that the 3 of us are not affiliated with Plugwise as a company in any way (other than, like yourself, owning the hardware). (we're just happily volunteering our time for the community).

[2021-01-21 21:29] libre-man commented on #57
Oh sorry, in that case thanks a lot for your volunteering work!

I looked into the format of the request send when using the web interface, which looked like this:
[code]

With the presets set to 21.5, 15, 15, 15, and 10 for respectively Home, Away, Night, Vacation and Frost protection. So the mapping and `heating_setpoint` seems quite straightforward. What is less clear to me is the value of `coo

[2021-01-21 21:31] bouwew commented on #57
Yes `cooling_setpoint` is meant for the cooling side of things. For when there is a heat-pump with cooling capabilities.

[2021-01-22 07:12] bouwew commented on #57
@libre-man What is your expectation w.r.t. the implementation of this in HA?
I mean, HA does not have a GUI for changing the preset value. If we are going to implement this, it will become a service with which you can change one (pair of) preset-value(s) at the time.

Practically thinking, the Service Data for this service will be something like: Thermostat name (needed for when there are more the

[2021-01-25 19:27] bouwew commented on #57
@libre-man I've made a test-version available: plugwise-beta version 0.14.1a0.
You can change the setpoint value via Developer Tools --> Services.
Select the service `plugwise_set_preset_setpoint` and enter, for instance, in Service data:
[code]
`loc_name` is the name of the location of the thermostat, it must be exactly the same name as used in the Plugwise app.
`pr_name` is the preset name: home

[2021-01-25 21:00] libre-man commented on #57
@bouwew Thanks! I will look into it tomorrow hopefully!

[2021-01-30 08:49] bouwew commented on #57
@libre-man Did you find some time to test?
What is your opinion? Does the added service meet your requirements?

[2021-01-30 08:54] bouwew opened #61 "[BUG] Cannot add my Stretch with firmware 2.7.15"
**Describe the bug**
User CoHoAppel reports errors when trying to add the Core Plugwise integration for his Stretch with firmware v2.7.15

**Evidence**
[code]

**Home Assistant Core (please complete the following information):**
 - Version: 2021.1.5
 - Deployment: Raspberry Pi
 - Installed plugwise version: HA-core

**Plugwise product (please complete the following information):**
 - Type: Stretch

[2021-01-30 08:57] bouwew commented on #61
After obtaining the xml-data, it turns out that `/core/domain_objects` is empty.

Solution: collect the required data from`/core/modules` instead.

[2021-02-05 17:57] bouwew commented on #23
After HA Core has been upgraded to aiohttp v3.7.2 the error is gone but the integration still doesn't work.
There is no error-information that points to aiohttp, only a plugwise-timeout error is shown.

Therefore the temporary work-around has been made a permanent addition to the plugwise-code.

[2021-02-05 17:57] #23 closed

[2021-02-05 18:01] bouwew commented on #61
Looks like this particular Stretch with firmware 2.7.x suffers from an issue that hinders the normal operation significantly.

Let's close this issue but keep the code-update present in the Github.

[2021-02-05 18:01] #61 closed

[2021-02-07 15:51] bouwew commented on #57
No response from the requester, let's close.

[2021-02-07 15:51] #57 closed

[2021-02-11 16:24] tansuka opened #63 "[FEATURE] Switch for DHW"
First of all, thank you very much for the great integration, all your hard work and time. Really appreciated 👏

**Is your feature request related to a problem? Please describe.**
I have a stupid opentherm boiler (Remeha Calenta) that doesn't heat the domestic hot water on demand. Only option to have the hot water is to turn on DHW Comfort mode on the boiler (via an opentherm thermostat). If I keep

[2021-02-11 17:08] bouwew commented on #63
I'll have a look, will report back.

[2021-02-11 18:13] tansuka commented on #63
That’s damn fast! 😂

[2021-02-11 18:42] bouwew commented on #63
The set-function was easy, with good input :+1:

Adding the switch in HA Core is much harder...

[2021-02-11 19:25] bouwew commented on #63
![image](https://user-images.githubusercontent.com/11290930/107687660-0e49fc00-6ca7-11eb-8761-296eb448f54c.png)

Looks like it's working.

Are you using Plugwise-beta? If not, please install. I'll create a Plugwise-beta test-version.

[2021-02-11 19:36] bouwew commented on #63
Please install and test https://github.com/plugwise/plugwise-beta/releases/tag/0.14.1a3

[2021-02-11 19:43] tansuka commented on #63
Coincidentally, just _before_ I install the test, my home assistant crashed. as soon as it's up and running again, I'll install & test

Thank you very much

[2021-02-11 20:28] tansuka commented on #63
Sorry, took a bit longer to make HA work again, somehow couldn't install 1a3 via HACS, had to copy under custom_components manually.

However, after all the these hassle, it works like a charm!!

Thank you very much for the super fast response and implementation.  I owe you a beer :)

[2021-02-11 20:28] #63 closed

[2021-02-12 10:29] bouwew commented on #63
Great, thanks for testing!

I will integrate this feature in a better way, test it some more, and then release the feature as part of the v0.14.1 release.

[2021-02-12 19:25] bouwew commented on #63
@tansuka I've created a new release: v0.14.1a4. Please install and quickly test this version.
Please note: I had to make some changes & improvement "under the hood" which causes a new sensor to appear with the name ending at "_2". You can delete the old switch and then rename the new switch by removing the "_2" part.

[2021-02-13 19:48] tansuka commented on #63
Hello @bouwew,

Sorry for the late reply, it was busy at home.

I have just installed and tested the new version. It works without any problem. on the upcoming days I can tested more but, it works as intended so far.

Thank you very much.

[2021-02-14 09:16] bouwew commented on #63
@tansuka Plugwise-beta v0.14.1 has been released, adding the DHW Comfort Mode switch

[2021-02-15 10:41] bouwew commented on #63
@tansuka Please try v0.14.3, in that version the switch is called `switch.auxiliary_dhw_comfort_mode`.
And it can be found under the Plugwise Auxiliary device.

[2021-02-16 20:53] CoMPaTech opened #66 "[FEATURE] Improve code (through testing)"
With regards to forthcoming from #65 and `smile.py`: (i.e. things I didn't `cover not to cover`) in #65
 - [x] Create test scenario (patch/mock `full_update_device`) towards L206' `except XMLDataMissingError:`
 - [x] Fix `with async_io timeout` not excepting to L246 asyncio.TimeoutError (either fix test or fix code)
 - [x] L252 with cornercase stretch responding 200 instead of 202 (should be in #6

[2021-02-18 08:51] CoMPaTech commented on #66
Added link to the `to evaluate` out of #65 (https://github.com/plugwise/python-plugwise/pull/65#issuecomment-780136189)

[2021-02-27 13:32] CoMPaTech commented on #66
Together with the rework of @bouwew that is all but former L1231 (now L394 in `plugwise/smile.py`) left

[2021-02-27 18:41] CoMPaTech commented on #66
And final commits to #68 closed shop for this one!

[2021-02-27 18:41] #66 closed

[2021-03-14 12:27] CoMPaTech opened #72 "[BUG] Improve protected member usage"
**Describe the bug**
Lots of Access to a protected member _(...)_thread of a client class

**Evidence**
1. `pylint plugwise/*py` (and/or subdirectories)
2. `W0212: Access to a protected member _(...)_thread of a client class (protected-access)`
3. Rewrite these to non-underscore to share outside of class

**Additional context**
Found as part of codefactor improvements and refactoring.
Should be ha

[2021-03-14 14:00] CoMPaTech commented on #72
List of todo's (usb related, excluding already marked as fixme/todos)
[code]

[2021-04-10 16:01] brefra commented on #28
@CoMPaTech, are we ready to close this issue?
While quickly scanning the current TODO's there are no flake8 related ones left

[2021-04-10 16:02] CoMPaTech commented on #28
Not really, we changed coveragerc to cover only smile :(

[2021-04-10 16:03] CoMPaTech commented on #28
So when time is availble we should clean out .coveragerc and start improving

[2021-04-14 20:46] jessesteinen opened #80 "Anna/Smile with hybrid setup Elga+gas boiler - only detect boiler burning"
I have a hybrid setup with an Elga heatpump connected to a Remeha Quinta boiler for central heating, and a Plugwise Anna.
Now the integration in HA only shows when the boiler is heating. When the Elga is working (I’m monitoring its power draw separately) but the boiler isn’t, then the card shows that it’s idle.

Is this a matter of configuration or maybe a limitation of the integration? Anna is co

[2021-04-14 20:52] jessesteinen commented on #80
[Archive.zip](https://github.com/plugwise/python-plugwise/files/6313631/Archive.zip)

[2021-04-15 06:14] bouwew commented on #80
Ok, thanks for providing the files.

I've had a quick look and I don't see any indication in the data that points to two heating-devices. So I'm thinking there is, at the moment, no support enabled for your configuration.
My advise would be to contact Plugwise and ask them if you Anna can be made to support your configuration.
I know from Plugwise that for the Adam you need to pay a little extra t

[2021-04-15 06:20] jessesteinen commented on #80
Thank you, bouwew! I thought I had stripped the files of any sensitive data as per the directions, what did I miss?

The [Plugwise website](https://www.plugwise.com/product/anna-2/?lang=en) states that Anna supports a hybrid setup with e.g. an Elga, but also that they charge 50 euros for enabling 'advanced support'. Just not sure what that entails exactly. I will contact them and report back here.

[2021-04-15 06:28] bouwew commented on #80
Ok, I did not know that the Anna did support such a config too, but, it makes sense.

I suspect you will need to pay the 50 euro, after that they will upgrade your Anna and then it should work.
Question is, will then the Plugwise integration work. If not, send the files again and we should be able to make it work.

You're right, I see that you've removed the sensitive data from the provided files.

[2021-04-18 15:54] bouwew commented on #80
Closed, the Anna needs a software update.

[2021-04-18 15:57] jessesteinen commented on #80
Hi @bouwew, do you mean the paid update from PW? I sent a mail to them last week but still awaiting their reply. If you can confirm you mean that paid update, then I'm fine with closing the issue. Thanks for your time (and I will report back if it does indeed resolve my issue).

[2021-04-18 16:02] bouwew commented on #80
Yes, that's what I mean.

If you end up getting the update, and it doesn't work, please reopen this issue and we'll take it from there.

[2021-04-20 18:59] jessesteinen commented on #80
I've got the paid Anna upgrade, and after some fiddling the Smile-T correctly recognises the Elga now. For the moment I have disabled the PW integration in HA, so tomorrow during the day I will check with just the Smile/Anna connected. If that works, I'll switch to HA again and report back my findings.

[2021-04-21 14:28] jessesteinen commented on #80
I think it's working correctly now, but I find that HA updates very slowly compared to the app. Is there a reason _not_ to reduce the update interval from 60s to e.g. 10s in the integration options?

[2021-04-21 16:04] bouwew commented on #80
Great! Would you mind posting a picture showing the entities that are under the Auxiliary Device?

That's why we added the OPTION to set the interval to you own liking :)

[2021-04-21 18:01] jessesteinen commented on #80
Yeah, I figured as much, but other than cutting down on the chat on the local network and some increase in local CPU usage, I guess there are no adverse affects?

The entities under aux device look like this for me:
<img width="1060" alt="Screenshot 2021-04-21 at 19 59 44" src="https://user-images.githubusercontent.com/5107889/115599877-5bb49c00-a2dc-11eb-947c-3b06a2204df3.png">

[2021-04-22 06:41] bouwew commented on #80
Reopening the issue.

@jessesteinen I'm missing at least one sensor: Auxiliary Device State, and possibly more.
Which Plugwise integration are you using? HA Core Plugwise?
If yes, would you mind "upgrading" to the plugwise-beta custom_component: https://github.com/plugwise/plugwise-beta
Plugwise-beta is much further ahead in development, more features/sensors, and it's quite stable.

You only need

[2021-04-22 06:47] jessesteinen commented on #80
I'm using the PW integration that comes with HA by default (I assume that's the HA Core Plugwise integration, yes). I'll give the beta a spin and post back another screenshot of the entities under the aux device.

[2021-04-22 07:30] jessesteinen commented on #80
Here you go:
<img width="332" alt="Screenshot 2021-04-22 at 09 30 14" src="https://user-images.githubusercontent.com/5107889/115673894-69563a00-a34d-11eb-88bd-5db6f022a704.png">

[2021-04-22 07:39] bouwew commented on #80
It's still missing, the aux device state sensor.
Is there any information in HA Logs? I'm kind of expecting that there is an error there because of the missing sensor.

[2021-04-22 07:44] jessesteinen commented on #80
`HACS is ratelimited, HACS will resume setup when the limit is cleared (10:14:52)`

I need to wait this out :)

[2021-04-22 08:34] jessesteinen commented on #80
I cannot find anything in the logs relevant to this, no relevant errors at all.

[2021-04-22 09:31] bouwew commented on #80
Ok, then please capture and send fresh xml-data as you did before.
It would be good to have the system in the heating state when you capture the xml-data.

[2021-04-22 16:51] jessesteinen commented on #80
Here you go (taken while heating)!
[Archive.zip](https://github.com/plugwise/python-plugwise/files/6359988/Archive.zip)

small correction: In the xml cleaning instructions a field <mac-address> is mentioned but it's actually <mac_address> (with an underscore). Also the modules file, at least in my case, contains no mac addresses.

[2021-04-22 18:03] bouwew commented on #80
Thanks! I'll have a look.

[2021-04-22 18:13] bouwew commented on #80
I already know what the problem is, the problem is me :)
I was thinking too much of the Adam while you have an Anna.
For your system the Auxiliary Device State sensor is not there. Because you only have one thermostat, the heating/cooling/idle state is shown as part of the climate-entity.

So, in your system all is as it should be :)

[2021-04-23 07:06] jessesteinen commented on #80
Good to hear our non-issue is resolved now :) Thanks your efforts and time looking into my situation!

[2021-04-29 08:52] jessesteinen opened #81 "lots of Elga errors in notifications"
Hi,

Not sure if this is even a plugwise related issue, or something with my Elga heatpump/boiler combination, but only since I have integrated it in HA I'm seeing these errors. Of course, before I didn't have anywhere to see it, yet maybe someone could shed some light on what is happening.

I am getting a lot of notifications about issues between the Elga and my (Remeha Quinta 35c) boiler. This i

[2021-04-29 09:09] bouwew commented on #81
Plugwise-beta v1.11.3, 1.12.3? I don't recognize the numbers? The latest version of plugwise beta is v0.14.6.

On the Elga errors, in my system (Intergas CV ketel) I sometimes see similar error messages but the frequency is much lower.
These errors should show in the Plugwise App as well but likely they are only temporary so they disappear again. And then you don't noticed them unless you look at

[2021-04-30 08:09] jessesteinen commented on #80
I think it's still not working properly (or at least, as I expected): at this moment in time the heatpump is active (see Elga power consumption) but the Anna shows in HA that it is idle. The PW app on my phone shows that the heatpump is active.

<img width="385" alt="Screenshot 2021-04-30 at 10 06 45" src="https://user-images.githubusercontent.com/5107889/116667075-0c393480-a99c-11eb-9218-0355216f

[2021-04-30 09:16] bouwew commented on #80
Ok noted. I will have a detail look at the data you sent before, which was captured under the same circumstances: the system was heating? I'll do this later today/tomorrow.

[2021-04-30 09:34] jessesteinen commented on #80
Yes it was heating when I previously captured the xmls. Thanks!

[2021-04-30 15:45] bouwew commented on #80
I looked at the files you sent before, in there I can see that the parameter that the heating-state in plugwise-beta is based in, is on. So that should result in the "Heating - Home".

I would need to look at xml-data that is captured when your system is exactly at the same state as you reported above here.

It could be that your system was running the compressor to collect heat or heat up before

[2021-05-03 18:03] bouwew commented on #80
@jessesteinen I just realized we don't have a complete implementation covering the cooling function of the Elga, see https://github.com/plugwise/plugwise-beta/issues/171
I was wondering, would you be willing in helping me in fixing this issue?

[2021-05-03 20:29] jessesteinen commented on #80
I’d be happy to! But please note that I don’t use cooling, only heating, so not sure if I can still help then?

[2021-05-04 06:21] bouwew commented on #80
Ok, yes, then I assumed wrong, sorry.

[2021-06-05 10:42] bouwew commented on #80
@jessesteinen can this issue be closed?

[2021-06-05 10:43] bouwew commented on #81
@jessesteinen can this issue be closed?

[2021-06-05 10:44] jessesteinen commented on #81
absolutely, thanks for your help.

[2021-06-05 10:44] #81 closed

[2021-06-05 10:45] jessesteinen commented on #80
absolutely, thanks for your help.

[2021-06-05 10:45] #80 closed

[2021-06-05 10:46] bouwew opened #84 "[BUG] Stick-related error in HA Core Logs"
**Describe the bug**
This message is shown in HA Core Logs:
[code]
**Home Assistant Core (please complete the following information):**
 - Version: 2021.6.2
 - Deployment: Proxmox VM
 - Installed plugwise version: 0.15.0b0 + plugwise v0.10.0 (from testpypi)
 - Installed through 'HACS']

**Plugwise product (please complete the following information):**
 - Type: Stick
 - Firmware: NA

[2021-06-05 10:48] bouwew commented on #84
Looks like this line `if config_entry.system_options.disable_new_entities:` needs to change to `if config_entry.system_options.get("disable_new_entities"):`
After this change the error is gone.

[2021-06-06 18:27] brefra commented on #84
This is actually a bug downstream in Plugwise Beta not in this repository, so I opened [this ](https://github.com/plugwise/plugwise-beta/issues/174)issue overthere.
Closing this one

[2021-06-06 18:27] #84 closed

[2021-06-15 10:17] vincentwolsink opened #87 "[BUG] Python error in getting thermostat presets"
A python error occurs in getting thermostat presets when using Plugwise beta component.

Edit: This seems to be only happening when the "Opentherm thermostat" (main thermostat) is not placed in a zone.

[code]

**Home Assistant Core:**
 - Version: `2021.6.2`
 - Deployment: `py-venv`
 - Installed plugwise version: `plugwise-beta`
 - Installed through: `HACS`

**Plugwise product:**
 - Type: Adam
 -

[2021-06-17 11:45] bouwew commented on #87
@vincentwolsink a few questions:
- in which version of plugwise-beta is this bug present, 0.15.0?
- is this still a bug given your last edit?
- if yes, can you capture the xml-data that is present at `http://<your_adam_ip>/core/domain_objects with` the thermostat not having a zone assigned?

[2021-06-17 12:04] bouwew commented on #87
After a detailed look at the xml-data on my Adam, and the data that we have received from other users, I'd say this is not something I want to fix because then we are going against the way that Plugwise has set everything up in their xml-data. Who knows what other problems this will cause.

So, in my mind, the bug you are reporting can be solved by assigning a location to (all of) the (present) th

[2021-06-17 13:55] vincentwolsink commented on #87
@bouwew thanks for your reply.

This is indeed plugwise-beta 0.15.0. But I think the bug is in `python-plugwise` itself.
I can send you the output of the domain_objects if you want.

The reason I am not assigning the thermostat to any zone is because I want to remove the external physical thermostat and use my tablet with Home Assistant as thermostat in the specific zone. According to Plugwise sup

[2021-06-17 15:13] bouwew commented on #87
Ok clear I think. You want the python-plugwise code to handle the case `no rules_ids found` in a way so that no error is thrown, correct? This means you don't have presets defined for that "special" thermostats, correct?

About adding support for Jip, if you have one, should be a piece of cake.
To be able to do this, and also to understand better how your system with the "special" thermostat looks

[2021-06-17 15:57] vincentwolsink commented on #87
Yes indeed. Thanks for your help. See the attached files.
[core.appliances.xml.txt](https://github.com/plugwise/python-plugwise/files/6671562/core.appliances.xml.txt)
[core.direct_objects.xml.txt](https://github.com/plugwise/python-plugwise/files/6671563/core.direct_objects.xml.txt)
[core.domain_objects.xml.txt](https://github.com/plugwise/python-plugwise/files/6671564/core.domain_objects.xml.txt)

[2021-06-17 16:09] bouwew commented on #87
Great, thanks! I'll have a look.

[2021-06-17 17:52] bouwew commented on #87
Question: in Woonkamer I see a Tom and a Jip. But these are both "slaves" to the HA thermostat. How did you set this up in the Plugwise App? How is the HA thermostat called?

[2021-06-17 19:13] vincentwolsink commented on #87
The external thermostat is called "Toon". It used to be in Woonkamer, now I removed it from the zone so Jip is the temperature sensor for Woonkamer. I'm still in contact with Plugwise support if this is the actual way to go. I would expect the "Toon" device to disappear when disconnecting the (wired) external thermostat, but this doesn't happen.

![IMG_9346](https://user-images.githubusercontent.c

[2021-06-17 19:56] bouwew commented on #87
Did you try to remove the Toon? When you click on the Toon there should be a button called `Verwijderen`.
![image](https://user-images.githubusercontent.com/11290930/122464256-eea94400-cfb6-11eb-9ae7-90eecf8289c3.png)

[2021-06-17 20:03] bouwew commented on #87
And when I read it correctly on the Plugwise website, the Jip becomes the Master-thermostat so to speak. So you should be able to remove the Toon and have the Jip and the Tom in the Woonkamer, the Jip should be the master. In the Plugwise App, under `Bediening` you should see a thermostat with the name Woonkamer

[2021-06-18 05:50] bouwew commented on #87
@vincentwolsink Please test plugwise-beta version 0.16.0b0, it contains support for the Jip as a zone thermostat.
Please let me know if it works. When it does, I'll do a formal release to v0.16.0.

[2021-06-18 07:53] vincentwolsink commented on #87
I tried removing the "Toon" thermostat before, but it still got detected by HA, so I don't think it actually works. I just deleted it again, see attached domain_objects.

[core.domain_objects.xml.txt](https://github.com/plugwise/python-plugwise/files/6675520/core.domain_objects.xml.txt)

I will test 0.16.0b0 asap. Thanks!

[2021-06-18 08:00] vincentwolsink commented on #87
Just confirmed it. Even though the Toon thermostat is completely gone in the Plugwise app, it is still detected by Plugwise beta and causes the python error. So this might be a "bug" on the Plugwise side.

[2021-06-18 08:00] bouwew commented on #87
Yes, I see what you mean. I'll think about what I can do to remove/ignore the Toon.

[2021-06-18 08:14] vincentwolsink commented on #87
I just tested 0.16.0b0 and it works like a charm! The Jip device now has a climate entity. And even the error for Toon is gone! The device is still there in HA, but it doesn't throw a python error anymore. Perfect.

Very happy with this, thanks a lot. Where is your "buy me a coffee" button? 😄

[2021-06-18 08:40] bouwew commented on #87
That's good news!
Yes, I've also fixed the python error for good measure.

But the Toon still showing up, that bothers me somewhat. Something to fix in the future...
Please leave this bug-report open, I'll keep you posted...

[2021-06-18 09:05] bouwew commented on #87
I think I've solved it, I'll release a test-version soon.

[2021-06-18 09:27] bouwew commented on #87
@vincentwolsink Please test plugwise-beta v0.16.0b1
The Toon should no longer show, or it should become `unavailable` (which means it's no longer there but HA Core kept the reference, you can manually remove the entity).

[2021-06-18 09:36] vincentwolsink commented on #87
Tested v0.16.0b1, works. Toon no longer shows up.

[2021-06-18 09:45] bouwew commented on #87
Great, thanks for checking!
I'll start the release-process. Might take a while, vacation time...

[2021-06-18 09:46] bouwew commented on #87
Bugs/missing functionality solved/implemented in #88

[2021-06-18 10:23] bouwew commented on #87
@vincentwolsink You should also have a Jip humidity sensor. Is it present and does it have a correct value? In the 0-100% range?

[2021-06-18 10:27] vincentwolsink commented on #87
Yes, looks good.

<img width="326" alt="screenshot" src="https://user-images.githubusercontent.com/1639734/122547492-75e6ce00-d030-11eb-94de-07dc4cd8eaeb.png">

[2021-06-18 10:41] bouwew commented on #87
Thanks for confirming that works too.

[2021-06-18 11:01] vincentwolsink commented on #87
Issue solved. Thanks a lot for the help!

[2021-06-18 11:01] #87 closed

[2021-07-06 17:03] bouwew commented on #72
#78 and #90 have solved almost all issues.
This is the present result:
![image](https://user-images.githubusercontent.com/11290930/124639809-e2fdbe80-de8c-11eb-9d4f-f7d8ae06366a.png)

[2021-07-06 17:08] bouwew commented on #72
Looks like the removed BaseType-inherit causes new pylint warnings.

[2021-07-13 06:18] bouwew commented on #72
The remaining issues were fixed in #91.

[2021-07-13 06:18] #72 closed

[2021-08-22 07:40] fabaff opened #97 "Tag the source"
**Describe the bug**
It would be very helpful if you could tag releases as well. This would enable distributions to use the source tarball from GitHub instead of PyPI.

Was done in the past could be a glitch in the workflow.

Thanks

[2021-08-22 15:25] bouwew commented on #97
Hi @fabaff,
What are you looking for exactly? Is tagging like e.g. `v0.12.0 ` what you asking for?

[2021-08-22 18:40] fabaff commented on #97
The latest release on PyPI is [0.13.0](https://pypi.org/project/plugwise/0.13.0/). The latest GitHub release is [0.12.0](https://github.com/plugwise/python-plugwise/releases/tag/v0.12.0).

[2021-08-23 06:07] bouwew commented on #97
Ok, is that the reason why you are asking.

Well, v0.13.0 contains a bug, that's why we haven't made a formal release. v0.13.1 will be the next formal release.

Your reason for this issue makes me curious, why are you asking us to create a release? What is you interest in this software?

[2021-08-23 07:13] fabaff commented on #97
The package for Nix/NixOS is using GitHub as the origin for the source. Personally I prefer to use the upstream source rather than PyPI. Often there is not much difference between those tarballs but sometimes only the upstream tarball contains the test suite or the license file.

`plugwise` is a Home Assistant dependency.

[2021-08-23 07:18] CoMPaTech commented on #97
Same here (in terms of personal preference), but I always thought the preferred way was PyPi nowadays :) Having tests and licenses as a difference is a good call though! But as Bouwe indicates, the .13 was 'almost ready' but not released.

[2021-08-23 07:36] bouwew commented on #97
Ok, thanks for explaining.

As I don't know NixOS, a warning: plugwise is at first and foremost the backend library for the custom_component plugwise-beta. Only the designated version as in the homeassistant requirements-all.txt file is compatible with the Home Assistant plugwise component. Make sure not to mix versions!

[2021-08-23 18:10] bouwew commented on #97
v0.13.1 has been released and tagged.

[2021-08-23 18:10] #97 closed

[2021-08-24 12:21] fabaff commented on #97
Thank you

[2021-12-28 15:23] CoMPaTech opened #113 "[BUG] isort broken on github action"
**Describe the bug**
isort in `pre-commit` (`.pre-commit-config.yaml`) seems broken, not locally but it does break in Github actions. See #112

**Evidence**
https://github.com/plugwise/python-plugwise/runs/4650984392?check_suite_focus=true

**Expected behavior**
"It used to work" and "works on my laptop" as per usual, seems only github is (suddenly) acting up

** Screenshots **
<img width="1554" a

[2022-01-30 09:33] CoMPaTech opened #131 "[IMPROVE] Add testing (and thus coverage) for USB"
Closing #28 (although complexity might still be on the table once USB parts are added,  having coverage to improve on code-testing is of more importance)

[2022-01-30 09:33] CoMPaTech commented on #28
Added #131

[2022-01-30 09:33] #28 closed

[2022-02-06 11:17] #26 closed

[2022-02-06 11:17] #113 closed

[2022-02-12 08:21] CoMPaTech opened #136 "[FEATURE] Add firmware update details"
**Is your feature request related to a problem? Please describe.**
As requested by @frenck: Expose available data from Plugwise hardware through the module

**Describe the solution you'd like**
Add (eventually through integration) a binary sensor for firmware update

**Additional context**
Sifting through what the 'firmware status page' on a Anna looks like shown below, unfortunately mine is in 'a

[2022-02-15 17:48] bouwew opened #138 "[BUG] Adam: Core climate card shows no demand on any thermostat yet the heating-state shows on"
**Describe the bug**
See the topic.
On the Plugwise App/local website the heating-icon is shown as active and the active thermostat has a yellow color instead of an orange color.

**Home Assistant Core (please complete the following information):**
 - Version: 2022.2.6
 - Deployment: VM
 - Installed plugwise version: v0.16.4
 - Installed through [HACS - custom_component Plugwise-beta]

**Plugwise

[2022-02-16 18:30] bouwew commented on #138
Moved to plugwise-beta

[2022-02-16 18:30] #138 closed

[2022-03-03 09:18] Sennevds opened #151 "[FEATURE] List zigbee devices"
I'm trying to setup extra repeaters because the Adam is in the basement and my Tom's are on the first floor and the zigbee signal doesn't reach there.
I'm using custom flashed CC2531 and CC2530+CC2591. At this moment I'm checking the core/modules xml document and comparing them with a previous version before I tried to connect the CCxxxx device to see if it connected.
Would be nice if I can query

[2022-03-03 11:29] bouwew commented on #151
From @frenck I've understood that this kind of info will be available in HA Core sometime in the future.
I'm not sure how that will look like though.

Regarding your request, yes, we could implement functionality that does that. But it will not be shown in HA Core without the fitting displaying-function. And the plugwise-output would need to fit to the input required by HA Core. So we can't do any

[2022-03-03 11:43] Sennevds commented on #151
I'll wait on Frenck's input :) and in the meantime I will create small python script to get me the necessary information 🙂

[2022-03-03 17:08] frenck commented on #151
We could create an empty shell device to provide a connection internally for Home Assistant, but it won't provide a graph you can view or any entities for such a device either.

[2022-03-03 22:56] Sennevds commented on #151
I don't need a entity. For my use case just a sensor with a list of connected ZigBee device's would suffice. But I don't know the bigger picture for Hass.

[2022-03-04 06:56] bouwew commented on #151
@Sennevds can you specify in detail what you are looking for?
From what you write above, you want to know from each zigbee-capable device to which router/coordinator/neighbours they are connected?

[2022-03-04 07:01] frenck commented on #151
Integration cannot provide such a thing at this moment in time.

[2022-03-04 07:39] bouwew commented on #151
@frenk you mean this can't be a sensor? This info could be added as `extra_state_attributes`?

[2022-03-04 07:40] Sennevds commented on #151
Something like that or a list of devices connected to the coordinator. Like I said in my initial FR you can add CCxxxx devices to extend the network by opening the ZigBee network on the Adam but you don't have any confirmation that it worked. If you look at core/modules you can view the devices so I thought that it would be nice to integrate them in this package but it looks like this python packa

[2022-03-04 07:41] Sennevds commented on #151
This would be sufficient for me 🙂

[2022-03-04 07:44] frenck commented on #151
There is no stat in here... Additionally, extra attributes is something that Home Assistant is avoid/phasing out as much as possible

[2022-03-04 07:49] Sennevds commented on #151
Thought so. I will create my own python script to visualize it.

[2022-03-04 10:14] bouwew commented on #151
"but it looks like this python package is only used for Hass and I get there is no interest in this because it's not officially supported by plugwise"

That is a wrong conclusion :)

[2022-03-04 10:38] Sennevds commented on #151
I've created a small python script with dash and gives following output:
![image](https://user-images.githubusercontent.com/3531609/156748035-6d45506a-1511-4fc4-91df-896d32f69881.png)
Just need to add the names via the appliances xml (damn they didn't make a really accessible api 😓 )

[2022-03-04 10:42] frenck commented on #151
Such a thing cannot be provided directly by integrations, as it baked into the frontend.

See: <https://github.com/home-assistant/frontend/blob/dev/src/panels/config/integrations/integration-panels/zha/zha-network-visualization-page.ts>

[2022-03-04 11:24] bouwew commented on #151
@Sennevds Looking nice! Please see `const.py` for number (106-03) to name, see `util.py` for the code to convert number to name.

[2022-03-04 11:28] Sennevds commented on #151
I want to connect the appliances so I can add the display name instead of the product name. Just added the coordinator (has a different node name zig_bee_coordinator)

[2022-03-09 19:58] CoMPaTech opened #157 "[TODO]: Tracking Core #67919"
### Todo

Check https://github.com/plugwise/python-plugwise/blob/79b64b0d939f67592a9444bf89f9b9dbb6b68e3d/plugwise/helper.py#L878 and or guard with additional `if self._outdoor_temp` to ensure validity (HA-core issue 67919). Some special auxiliary unit and/or unset zipcode?

[2022-03-10 11:57] bouwew opened #158 "[BUG]: Error setting up entry Anna for plugwise - type conversion"
### Describe the bug.

When starting Home Assistant, I get a type error in the Anna plugin log. The integration is not set up. For exact error message, see the error log below.
I have been using the integration for a long time. In the 2022.3 release, it is not working anymore.

### Expected behavior

A working system.

### What version of Home Assistant Core has the issue?

2022.3

### What type o

[2022-03-10 11:59] CoMPaTech commented on #157
Closed by #158

[2022-03-10 11:59] #157 closed

[2022-03-10 11:59] bouwew commented on #158
@bart1970 let's continue the detailed discussion w.r.t. your problem here.

[2022-03-10 18:32] bart1970 commented on #158
Hi Bouwe,

Here are the files. The cooling is turned on (with dipswitch).

[modules.txt](https://github.com/plugwise/python-plugwise/files/8226053/modules.txt)
[appliances.txt](https://github.com/plugwise/python-plugwise/files/8226054/appliances.txt)
[direct_objects.txt](https://github.com/plugwise/python-plugwise/files/8226055/direct_objects.txt)
[domain_objects.txt](https://github.com/plugwise/p

[2022-03-10 18:40] bouwew commented on #158
Thanks! I've downloaded them, you can remove them from the above message.

[2022-03-10 18:43] bouwew commented on #158
Bart, a question, how did you end up with Elga as a device-name? Did you rename the OpenTherm device?

[2022-03-10 18:49] bart1970 commented on #158
You mean the device name in HA I assume. I'm not aware that I have changed this. I don't think I can find that back, can I?

[2022-03-10 19:06] bouwew commented on #158
Yes, device name in HA. The thing is, we expect to see OpenTherm as device-name, not Elga.

A quick update, we have found why you see the error, now we need to think about how to solve it...

[2022-03-10 19:21] bart1970 commented on #158
Good you found it. Hope you can solve it. If I need to do any tests, please let me know.

Just checked some backups. 1.5 year ago, it was already called Elga. So if I changed it, it was already a long time ago.

[2022-03-10 19:49] bouwew commented on #158
Yeah OK, makes sense. Due to the HA unique_id, then the name / sensorname stay the same. But I realize now that this does not cause the bug.

We have it working in our test-environment. And we will test in plugwise-beta.
You could help us testing by installing plugwise-beta as a custom_component. Would that be an option for you?

Plugwise-beta can replace Core plugwise 1-to-1, you would only need

[2022-03-10 20:20] CoMPaTech commented on #158
@bart1970 @bouwew pw-beta https://github.com/plugwise/plugwise-beta/releases/tag/v0.21.3a1 is available for testing from https://github.com/plugwise/plugwise-beta/pull/248

[2022-03-11 17:14] sophof opened #160 "[FEATURE]: Custom climate control"
### Describe the solution you are looking for

Buying the adam I was under the impression that I would be able to control my heater directly. Currently I can only control it through my Lisa though. I'd like to be able to set the requested temperature for my heater directly, mostly to improve my floor heating. I've been unable to find any way to do it. In the end I would love to have a service call

[2022-03-11 18:52] bouwew commented on #158
@bart1970 are you able to test the updates for us?
There are 2 options:
  - Install plugwise-beta v0.21.3a2
  - Change the plugwise version in the HA Core files to 0.16.7

We're happy to provide help for both options, if needed.

[2022-03-11 19:24] bart1970 commented on #158
Was working until an hour ago. I will give it a try now and let you know if I managed.

[2022-03-11 19:25] bouwew commented on #158
What will you try?

[2022-03-11 19:39] bouwew commented on #160
I have a similar system as you have. But I don't understand what you want to achieve?
The Lisa functions as a temperature sensor for the heating algorithm that runs on the processor in the Adam.
Why would you want to bypass the Lisa?

[2022-03-11 19:42] bart1970 commented on #158
I copied manually the files (using the file editor) in the custom folder and restarted HA.
Message I get now in the logs look like the old one, but just a little different:
022-03-11 20:41:45 ERROR (MainThread) [homeassistant.config_entries] Error setting up entry Anna for plugwise
Traceback (most recent call last):
File "/usr/src/homeassistant/homeassistant/config_entries.py", line 335, in async_

[2022-03-11 19:46] bouwew commented on #158
Which plugwise-version is shown in the `manifest.json` file?

[2022-03-11 19:47] bart1970 commented on #158
"version": "0.21.3a1",

[2022-03-11 19:48] bouwew commented on #158
`plugwise==0.16.7` <-- that version I mean.

[2022-03-11 19:50] bart1970 commented on #158
Probably looking at the wrong file. I have in:
/config/custom_components/plugwise/manifest.json

{
  "domain": "plugwise",
  "name": "Plugwise Beta",
  "version": "0.21.3a1",
  "documentation": "https://github.com/plugwise/plugwise-beta",
  "after_dependencies": ["usb", "zeroconf"],
  "requirements": ["https://test-files.pythonhosted.org/packages/97/dd/c03345f77a98bdabd24ff1a8ac60eaf6be3c086126228

[2022-03-11 19:52] bouwew commented on #158
0.16.7a9, that should work. Why doesn't it work...
Well try some other things.

[2022-03-12 09:24] bouwew commented on #158
@bart1970 I think we have solved your issue. Meaning, it works in our testing with the xml-data you provided.
Can you please test with https://github.com/plugwise/plugwise-beta/releases/tag/v0.21.4a1

[2022-03-12 10:25] bart1970 commented on #158
Today I am not at home. I hope I can test it tomorrow. After testing this, I updated my Ubuntu. That introduced very strange connectivity issues between te containers, but plugwise is in the standard HA container, so think I can test that.

Bouwe Westerdijk ***@***.***> schreef op 12 maart 2022 10:24:50 CET:
***@***.*** I think we have solved your issue. Meaning, it works in our testing with the x

[2022-03-12 11:40] sophof commented on #160
I don't want to bypass the Lisa really, I just need more control. Ideally I'd keep the Lisa but just add an extra 'template' thermostat as a zone. My floor heating would be it's own zone and the Lisa basically controls the extra heat needed from the radiators.

My house heats up a lot due to sunlight (a good thing) but the Lisa can't consider this. With the weather here the last few days (cold wit

[2022-03-12 17:28] bouwew commented on #160
Are you aware of the schedule function available in the Plugwise App or on the website of your Adam?

![image](https://user-images.githubusercontent.com/11290930/158028276-6a3210aa-3a59-43cd-853f-d25189dea9ca.png)

What that function you can create an addition template for the heating operation.

[2022-03-13 08:39] Sennevds commented on #151
@bouwew could it be that there was an software update? All of a sudden I notice the the neighbors has a sub element neighbor and every neighbor element has a dept and relation element. Previous week it looked different

[2022-03-13 09:43] bart1970 commented on #158
Thanks! Initialisation works again. Looks fully working.

I do have a question, why are some entities in the configuration tab "sensors" (like elga outdoor temperature) and other entities "diagnostics" (like elga return temperature). Looks like a little artificial difference (maybe due to HA, not due to your integration). The diagnostic information page: [https://www.home-assistant.io/integrations

[2022-03-13 09:51] CoMPaTech commented on #158
Thanks for you feedback!

As for the entities, ran into that myself as well while writing another integration: It's a fairly recent functionality called entity category that does this (see https://developers.home-assistant.io/blog/2021/10/26/config-entity?_highlight=categ#entity-categories). The diagnostics integration 'just dumps' the JSON data, so they are related but not the same thing.

[2022-03-13 10:01] bouwew commented on #158
Indeed, thanks, that's good news :)
Also great feedback, is appreciated. We'll consider changing this sensor to the diagnostics category.

We would like to ask you to test the cooling-related operation of the Plugwise-beta integration in detail, when the outdoor temperature is rising and the cooling mode becomes active, if this is possible for you.
We are wondering if our code is working correctly

[2022-03-13 10:32] bouwew commented on #151
Yes, I'm reading on Tweakers.net that others have gotten this update too.
I'm already on v3.6.x for some time, the plugwise-code has already been adapted for this update.

Entities available: please try to restart HA Core, does this resolve the issue?

[2022-03-13 12:52] bouwew commented on #158
About your feedback, we have decided to not change.
Reason: the outdoor_temperature sensor can be available on both on the OpenTherm as the Smile (Adam/Anna) device.
On the OpenTherm device it should be a diagnostics sensor but on the Smile device it shouldn't be one.
Due our implementation it's not possible to separate between the sensors. The only way to fix this is by changing one of the sensor

[2022-03-13 13:08] bart1970 commented on #158
The cooling part is at this moment hard to test. For the heating part, some observations.
When the system is heating
- The heating icon on the anna HA (Thermostat Card) is off.  The status line on the card is "Heating - Home" which is correct. (See picture below)
<img width="157" alt="image" src="https://user-images.githubusercontent.com/48695944/158060106-dfe84720-5022-4726-9916-e00a37920ecd.png"

[2022-03-13 13:11] bart1970 commented on #158
The other observation was already in one of the other tickets. On HA, I can update the temperature (since this release) in steps of 0,1. On the Anna, only in steps of 0,5. Don't think is this is real problem.

[2022-03-13 13:14] bouwew commented on #158
On the diagnostics sensor, when I take some time to look at it, it's not so hard :) More later.

On your observations:
The four icons on the climate card indicate the hvac_mode, from left to right:
- auto, means a schedule is active, heating or cooling happens based on a schedule
- heating, the heating is based on the manually set setpoint
- cooling, the heating is based on the manually set setpoi

[2022-03-13 13:15] bart1970 commented on #158
Why shoud the outdoor_temperature on the OpenTherm device a diagnostics sensor but on the Smile device not.
One is the real outdoor temperature (OpenTherm), the other I aassume based on some internet weather site?

[2022-03-13 13:19] bouwew commented on #158
On the pictures, all looks as I would expect.

On the outdoor sensor, on the gateway there is one single sensor, it's common to show it as a plain sensor:
![image](https://user-images.githubusercontent.com/11290930/158061226-b6b349e0-727c-4b5a-8723-df1ba8617891.png)

[2022-03-13 13:23] bouwew commented on #158
Best way to contact me: just keep posting in this topic. I receive a notice when somebody adds a new message to an existing topic, also when it's closed.

[2022-03-13 13:29] bart1970 commented on #158
Ah, I think I now understand the icons. Don't know if I find it logical however. If I read it correct, always only one icon is active.
I would expect:
- One indication on how you configured your thermostat (for example auto, heating, off, cooling)
- In case of auto, the name of the program (for example: Home, Holiday, )
- One indication on what the system is really doing: Idle, cooling, heating.
L

[2022-03-13 14:47] bouwew commented on #158
Agree, I share your opinion. That's why I use the Simple Thermostat card instead: https://github.com/nervetattoo/simple-thermostat
![image](https://user-images.githubusercontent.com/11290930/158065101-c890fcca-4ac5-4f36-aae6-b52fa063aa17.png)

I can share my configuration for this card if it helps.

[2022-03-13 15:26] bouwew commented on #158
On the control on the HA climate card or the Simple Thermostat card, the Plugwise integration can only turn the schedule off or on. So when you have a schedule active and the cooling mode is off, you could click on the cooling-icon/button and in the end the heating-icon will be shown as active :)

[2022-03-14 07:21] bouwew commented on #151
@Sennevds Ik las dit vanochtend op Gathering of Tweakers:

Nieuwe Adam 3.6.x release:
Bug fixes en security verbeteringen
Scene voor alle zones in 1x instellen
Vakantiemodus
Verwarming pauzeren
Maximale keteltemperatuur voor OpenTherm ketels kan nu altijd ingesteld worden, ook al ondersteunt de ketel dit niet. De regeling zelf zal niet hoger vragen dan de ingestelde maximale keteltemperatuur.
Open

[2022-03-14 07:38] Sennevds commented on #151
That was my message 😄

[2022-03-14 07:46] bouwew commented on #151
I was wondering about that... :)

Anyway, thanks for providing, there's some good information in the changelog!

[2022-03-14 16:19] sophof commented on #160
I see you found my feature request on the home assistant forum, so yes I am aware :). It is indeed one of the work arounds I was thinking of, although I still wish it would be possible to set a custom intended temperature (which can be overwritten by any other thermostat, that's the way it already works I assume if you have multiple zones?).

[2022-03-14 17:08] bouwew commented on #160
Yes, that's already possible, you can change the setpoint of any thermostat connected to the Adam at any time. You can do this via the `Climate: Set temperature` service.

[2022-03-14 18:03] bouwew commented on #158
This issue has been solved in v0.21.4 therefore closing this issue.

[2022-03-30 17:32] bouwew commented on #160
@sophof Are the updates we've implemented, helping you?
If yes, please close this issue, thanks.

[2022-03-30 17:33] bouwew commented on #151
@Sennevds where are you with your experiments? Is there something you could share?

[2022-03-30 17:44] Sennevds commented on #151
Hi, I just started rewriting it today for the changes in the API/xml's. At this moment I'm not using this library but just my own script to understand the links. Next up in line is to use this library and maybe create pr

[2022-03-31 09:22] #136 closed

[2022-03-31 10:06] sophof commented on #160
Well, I still have this as a generic wish. The new updates are certainly helping me in practice, but I still would love to see this feature.

[2022-03-31 10:24] bouwew commented on #160
Ok clear. Unfortunately there is nothing we can do. We, our code, cannot add additional zones. Or, in other words, our code cannot implement the custom control you are looking for. Our code basically implements a subset of what's possible in the Plugwise App. If it's possible in the Plugwise App, we might be able to reproduce it.

If you want an extra zone, you will need an extra temperature senso

[2022-04-02 12:04] sophof commented on #160
In essence I was expecting the adam to work more like an opentherm gateway. I mean, it has to control the setpoint itself at least. A custom thermostat is trivial to create from that point on (without depending on plugwise). But from this I understand this is not exposed in the API? Is there somewhere I can find the endpoints?

[2022-04-02 14:18] bouwew commented on #160
No, it's not exposed in the API like you mean. It's only exposed for a connected thermostat. Have a look at `http://<ip of your Adam>/core/locations` that's where the plugwise code changes the setpoint for a thermostat in a location.
Look in `/core/appliances` for other details.

[2022-05-09 08:35] bouwew opened #185 "[TODO]: On the Adam the vacation-preset is no longer available"
### Todo

Both the Plugwise App and the local website don't show this preset anymore as a settable option.
Not as a preset:
![image](https://user-images.githubusercontent.com/11290930/167371683-33ad79b0-1bb9-4235-879d-f2a255409cd2.png)

Not as a schedule option:
![image](https://user-images.githubusercontent.com/11290930/167371936-ee017b87-ac5d-48d0-9f51-0520ff5bdbad.png)

@CoMPaTech Shall we remo

[2022-05-10 13:24] frenck opened #187 "[BUG]: Library didn't catch aiohttp.ClientConnectionError"
### Describe the bug.

I just experienced a power grid outage @  my home, when it returned, I noticed that Plugwise didn't recover. The reason is that Home Assistant was faster in starting up than Plugwise and the connection failed.

[code]

Did a patch upstream: <https://github.com/home-assistant/core/pull/71642>
However, the library should handle connection issues (as its purpose is handling the

[2022-05-11 07:39] #187 closed

[2022-05-23 13:16] bouwew opened #192 "[BUG]: Plugwise heating not showing opentherm but on/off"
### Describe the bug.

See https://github.com/home-assistant/core/issues/72305

### Expected behavior

Showing an OpenTherm device.

### What version of Home Assistant Core has the issue?

2022.4.0

### What type of installation are you running?

Home Assistant Core

### How and which version of the integration do you have installed?

Home Assistant Core

### What kind of Plugwise device is having

[2022-05-23 13:19] bouwew commented on #192
XML-data received. The `point_log` key `open_therm_oem_fault_code` is not present.

As an alternative, we can look for the presence of the `open_therm_gateway`.

[2022-05-23 18:13] bouwew commented on #192
Fixed by #194, confirmed working by the original reporter.

[2022-05-23 18:13] #192 closed

[2022-05-30 14:18] bouwew commented on #158
@bart1970 Can you please test Plugwise v0.23.3a0?

I've made some changes that are specific with Anna connected to a device with cooling capability:
- `hvacmodes` are `heat_cool` and `auto'
- Attributes `temperature` replaced by `target_temp_high` and `target_temp_low`
- These two target_temps are displayed in the HA climate card.

Are these changes working in your system?

[2022-06-04 12:41] bart1970 commented on #158
Hi @bouwew
Yes, but my NUC running Home assistant crashed two weeks ago. Needed to buy one and now make sure everything get working again first... Not much at home, so can take some time.

[2022-06-05 12:27] bouwew commented on #158
@bart1970 Thanks for getting back to me, and sorry to hear about the server-problems.
Ok, please get back to me when you are for some testing :)

[2022-07-24 08:06] bouwew commented on #158
@bart1970 Plugwise-beta v0.26.0 contains the latest Anna + Elga related updates. According to user huub66 all is working.
When you are up and running again, please let me know if you find anything out-of-order.

[2022-07-24 08:06] #158 closed

[2022-07-31 19:51] CoMPaTech opened #207 "[IMPROVE] pylint"
That was a quick fix for this:
[code]

_Originally posted by @bouwew in https://github.com/plugwise/python-plugwise/pull/206#discussion_r934005358_

[2022-08-07 11:54] #207 closed

[2022-08-08 19:44] brefra opened #209 "[FEATURE]: Add support to register an Circle+ to the USB-stick"
### Describe the solution you are looking for

Support to register an Circle+ to the USB-stick as requested [here](https://community.home-assistant.io/t/plugwise-core-and-custom-component/236250/235)

### Is your feature request related to a problem? (optional)

Without having a Circle+ registration, the USB-Stick won't work at all. It's currently mandatory to be setup prior using this library.

#

[2022-08-08 23:04] WhiskyDelta commented on #209
Thanks for opening this issue.
I guess the request needed for this would be ["CirclePlusConnectRequest"](https://github.com/plugwise/python-plugwise/blob/5d692d266e8e3b4a950a0d4a31a38e28ae994904/plugwise/messages/requests.py#L34).
But what are the args? It can't be all zeros?

[2022-08-09 18:01] WhiskyDelta commented on #209
I recorded the registration of the Circle+ with Wireshark. Here is the [plugwise log.txt](https://github.com/plugwise/python-plugwise/files/9293462/plugwise.log.txt) with the messages I copied and pasted out of Wireshark. Unfortunately I can't attach the Wireshark file itself here.
It seems as the args are almost all zeros. The message was sent twice. The first time "key" was 0, the second time it

[2022-08-27 13:26] bouwew opened #213 "[BUG]: error when selecting "Verwarmen" button a 2nd time, when in "Verwarmen"-state"
### Describe the bug.

This is when using the Simple Thermostat card. It means that setting the schedule state to off a 2nd time causes the error.

### Expected behavior

No error.

### What version of Home Assistant Core has the issue?

core-2022.8.7

### What type of installation are you running?

Home Assistant Supervised

### How and which version of the integration do you have installed?

HAC

[2022-08-28 08:33] #213 closed

[2022-09-26 21:02] wburgers commented on #185
Hey guys, sorry to comment on this older topic, but I can still use the vacation preset on my Adam.

![image](https://user-images.githubusercontent.com/2129305/192378338-75657604-9c72-4860-961f-e7efed951414.png)

Plugwise changed it to an action that requires extra input.
When I click the button to set a preset for all rooms on the main page, I get the following:
![image](https://user-images.githu

[2022-09-27 06:11] bouwew commented on #185
Thanks for reporting! Reopening this issue.

[2022-09-27 15:57] bouwew commented on #185
I've tried the Vakantie and Pauze option, it looks like they are quite similar to HA Automations.

I think the best action is to re-add the removed vacation-preset for the Adam.

[2022-09-27 17:13] frenck commented on #185
It's on my system available as well.

[2022-09-30 10:53] bouwew opened #219 "[TODO]: Re-enable disabled negative testing in tinker_thermostat_schedule()"
### Todo

Find a different solution to re-enable negative testing in this testcase, as was done in the v0.22.1

[2022-09-30 11:00] bouwew commented on #185
Solved ( = add back vacation preset for Adam) in v0.23.0

[2022-09-30 11:00] #185 closed

[2022-10-08 16:52] #219 closed

[2022-10-21 14:05] epenet opened #231 "[TODO]: Expose type hints"
### Todo

Type hints are in the code, but they are not seen by `mypy` in Home Assistant

I think `mypy` is not getting the type hints through because the library is missing a `py.typed` file

See https://github.com/home-assistant/core/pull/80722#discussion_r1001739234

[2022-10-22 13:58] bouwew commented on #231
Thanks for the feedback @epenet! We'll implement the suggestions shortly.

[2022-10-22 14:45] #231 closed

[2022-10-22 16:00] bouwew opened #233 "[BUG]: v0.25.4 causes mypy errors in Core"
### Describe the bug.

This is what HA Core mypy-checking shows when PR-ing plugwise v0.25.4
![image](https://user-images.githubusercontent.com/11290930/197349094-7c5f6050-8c6b-4e72-8e35-ae7cab6badd4.png)

### Expected behavior

No errors.

### What version of Home Assistant Core has the issue?

Core latest dev

### What type of installation are you running?

Home Assistant Container

### How and

[2022-10-22 17:21] bouwew commented on #233
Frenk mentioned this: https://peps.python.org/pep-0655 in relation to the above shown errors.

[2022-11-06 09:24] Xirt opened #240 "[BUG]: Log error entry: "KeyError: 'regulation_mode'""
### Describe the bug.

I get the following error in the log (both in the Sep (2022.9.4) and Nov (2022.11.1) version of HA):

[code]

In addition, I have the feeling that the sync of information is not "near perfect" anymore. For example, if I set a new mode (e.g. no_frost, away, ...) from HA then the temperature is not always properly synchronized back to HA. In my example, I first set the thermos

[2022-11-06 10:00] bouwew commented on #240
Can you download the diagnostics and post these in a message?
Go to Settings --> Devices & Services --> Plugwise Adam --> 3 vertical points --> Download diagnostics

[2022-11-06 13:03] bouwew commented on #240
On the sync of information, this is a known problem. HA expects an update from the Adam within 1.5 seconds, and the Adam doesn't always succeed to be updated in that time-frame. So sometimes/often in HA the change is toggles back to the previous value. But at the next update, 60 seconds later, the change is correctly shown.

This is not only the case for Plugwise, other integrations show similar b

[2022-11-06 21:04] Xirt commented on #240
Find below the diagnostics:

[code]

[2022-11-07 07:01] bouwew commented on #240
Thanks!

I see that the `regulation_mode` key is indeed missing.
Very strange.

Can you please have a look at the data on your Adam, look here:` http://<adam_ip>/core/appliances` (you need to log in with username = smile and password = 8-letter device ID)
You should see xml-data, look for `regulation_mode`, you should see something similar like this:
![image](https://user-images.githubusercontent.

[2022-11-09 00:20] Xirt commented on #240
The first section looks like this:

[code]

The second section looks as follows:
[code]

[2022-11-09 07:36] bouwew commented on #240
Ok, yes, that's the problem.
I had anticipated this and already programmed a fix. Can you try this fix with plugwise-beta?
If yes, I'll make a test-release during the weekend.

Another option would be for you to contact Plugwise Helpdesk, ask them to reset the database on your Adam, because the existing database is corrupted. You can link this issue in the email for illustration.

[2022-11-10 18:53] ruute66 opened #241 "[BUG]:"
### Describe the bug.

After upgrade HA version 2022.11.1 or 2011.11.2 the Plugwise integration stopt working, and this error: Failed to set up

Log message:

Logger: homeassistant.config_entries
Source: components/plugwise/gateway.py:59
First occurred: 19:38:24 (1 occurrences)
Last logged: 19:38:24

Error setting up entry Adam for plugwise
Traceback (most recent call last):
  File "/usr/src/homea

[2022-11-11 00:14] Xirt commented on #240
I configured the plugwise-beta version in a temporary container, but unfortunately no joy (unless I am doing something wrong). See below the log entry:

[code]

[2022-11-11 15:44] bouwew commented on #240
That correct, you are testing too soon :)
I wrote, I will make a test-release during the weekend, the fix hasn't been implemented in any release yet.

[2022-11-11 15:46] bouwew commented on #241
Can you please share the diagnostics info of the Plugwise integration?

[2022-11-11 18:29] Xirt commented on #240
No issue. I now have a test box / container ready for the job ;-). Thanks for the update and please let me know once you have the release ready.

[2022-11-11 19:05] ruute66 commented on #241
is not available  

This is de log in the previous (working) version:{  "home_assistant": {    "installation_type": "Home Assistant OS",    "version": "2022.10.5",    "dev": false,    "hassio": true,    "virtualenv": false,    "python_version": "3.10.5",    "docker": true,    "arch": "aarch64",    "timezone": "Europe/Amsterdam",    "os_name": "Linux",    "os_version": "5.15.61-v8",    "supervisor"

[2022-11-12 08:11] bouwew commented on #241
Ok, thanks!

Two questions:
1) from the data I can see that there is cooling capability, is that correct?
2) I see you have a `Thermostat schedule` is that one maybe empty?

[2022-11-12 08:56] bouwew commented on #240
Please test with plugwise-beta version 0.31.3a3

[2022-11-12 12:31] ruute66 commented on #241
1 yes I have 'cooling feature' upgrade 
2 yes I have an empty schedule
Schedule is in Home Assistant 
Sent from Yahoo Mail on Android

  On Sat, Nov 12, 2022 at 9:12, Bouwe ***@***.***> wrote:

Ok, thanks!

Two questions:

   - from the data I can see that there is cooling capability, is that correct?
   - I see you have a Thermostat schedule is that one maybe empty?

—
Reply to this email directl

[2022-11-12 12:51] bouwew commented on #241
Thanks!

So, the schedule, when you look at it in the Plugwise App, is empty?
Strange, there was a bugfix in 2022.11.2 just for that situation. Strange that is doesn't work.

[2022-11-12 14:33] bouwew commented on #241
You can help me by sending me some raw xml-data from your system: can you please capture the xml-data present at `http://<adam_ip>/core/domain_objects`?
Please do this via right-click -> Save as -> .xml

Please send the resulting file to my email: bouwe at westerdijk point info (change this into a real email address).

[2022-11-12 20:04] ruute66 commented on #241
Hoi Bouwe,Schema van zowel Adam als Anna zijn leeg.Hierbij de xml data. Zie bijlage

    On Saturday, November 12, 2022 at 03:33:29 PM GMT+1, Bouwe Westerdijk ***@***.***> wrote:

You can help me by sending me some raw xml-data from your system: can you please capture the xml-data present at http://<adam_ip>/core/domain_objects?
Please do this via right-click -> Save as -> .xml

Please send the re

[2022-11-12 20:49] ruute66 commented on #241
vorige domain_objects was van de oude versie van HA.Ik weet niet of het uitmaakt, maar hierbij dezelfde domain_objects bij HA versie Home Assistant 2022.11.2

    On Saturday, November 12, 2022 at 09:03:55 PM GMT+1, Ruud Verkerk ***@***.***> wrote:

  Hoi Bouwe,Schema van zowel Adam als Anna zijn leeg.Hierbij de xml data. Zie bijlage

    On Saturday, November 12, 2022 at 03:33:29 PM GMT+1, Bouwe

[2022-11-13 00:38] Xirt commented on #240
Just tested fine: all information I use in dashboards appear to show fine, some quick configurations (tests) of temperatures work fine and no errors in the log :).

[2022-11-13 08:28] bouwew commented on #241
Bedankt! Ik ga er naar kijken.

Ter info, de Plugwise xml-data is volledig losgekoppeld van HA, de inhoud
van de beide gestuurde bestanden is gelijk.

Je schrijft zowel Adam als Anna. Betekend dat je ze beide in de Plugwise
App hebt staan?
Dat is niet nodig, de enige die je nodig hebt, is de Adam. De Anna is een
"slaaf" van de Adam geworden, deze is alleen nog maar een "domme"
thermostaat, alle be

[2022-11-13 09:10] bouwew commented on #241
@ruute66 I can reproduce your problem with the library-code that's in HA Core at the moment.
I also see that the problem is gone with the code that will be in the coming library-update.

[2022-11-13 10:08] ruute66 commented on #241
Thanks!Good work.Is the library update an HA update? Or an Plugwise update?

Sent from Yahoo Mail on Android

  On Sun, Nov 13, 2022 at 10:10, Bouwe ***@***.***> wrote:

@ruute66 I can reproduce your problem with the library-code that's in HA Core at the moment.
I also see that the problem is gone with the code that will be in the coming library-update.

—
Reply to this email directly, view it on

[2022-11-13 10:39] bouwew commented on #241
The plugwise library (its code is in this github) is updated. This library is used by the HA Core Plugwise integration and by the Plugwise-beta custom_component https://github.com/plugwise/plugwise-beta

[2022-11-14 06:58] bouwew commented on #240
Nice! Thanks for testing!